
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}


<!-- content -->

<div class="container" style="padding-top: 10px; padding-bottom: 20px;">

  <center>
    <p class="fs-3">Советы</p>

  </center>
  <!--
    <p class="fs-5">
      Методика разработана профессиональным тренером сборной России по биатлону,
      поэтому она подходит в первую очередь для динамических видов спорта, таких как бег, лыжи, плавание, велосипед.</p>
      <center class="fs-5"><b>Суть методики проста:</b></center><br>

      <h3><span class="badge bg-secondary">Первый шаг:</span></h3>
      Для начала Вы должны выбрать расписание своих тренировок. Иными словами, сколько раз в неделю Вы хотите заниматься.
      <br>

      <h3><span class="badge bg-secondary">Второй шаг:</span></h3>
      Определить перечень видов упражнений, которые Вам доступны. Например: бег, плавание, лыжи.
      Корректируете данный параметр во вкладке <a href="/table/add_new/">Добавить результат</a> внизу страницы.

      <br>
      - <b>Третий шаг:</b> определитесь с пульсовыми зонами, в которых Вы хотите заниматься и также скорректируйте их
      во вкладке <a href="/table/add_new/">Добавить результат</a> внизу страницы.
      Здесь нужно сказать пару слов. Максимальное занчение пульса для Вас рассчитывается по формуле 220 - возраст.
      То есть, если Вам 30 лет, то максимальный пульс (ЧСС) для Вас равен 220-30=190 ударов в минуту.
      Если в какой-то день Вы тренируетесь в этой пульсовой зоне, то после этого следует сделать два "разгрузочных" дня,
      в которые Ваш пульс не должен превышать 60-70% от максимального.<br>
      - <b>Четвертый шаг:</b> во время тренировки записывайте сколько времени и в какой пульсовой зоне Вы тренирутесь и заносите данные
      в таблицу <a href="/table/table1/">Мои результаты</a>. Это можно сделать как непосредственно в таблице,
      так и во вкладке <a href="/table/add_new/">Добавить результат</a>
    </p>
  -->

</div>

<!-- /content -->
{% endblock %}
