
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}


<!-- content -->

<div class="container" style="padding-top: 10px; padding-bottom: 20px;">

  <center>
    <p class="fs-3">Описание методики</p>

  </center>
  <p class="fs-5">
    <br>
    Для начала нужно разобраться каким образом достичь того или иного результата в спорте:
    <br>
    <br>1. Весь процесс многогодовой подготовки похож на ступени лестницы,по которой мы постепенно поднимаемся вверх.
    <br>2. Каждый год мы преодолеваем одну ступень или "уровень", выражаясь современным языком.
    <br>3. Объём нагрузки учитывается в часах.
    <br>4. <font color="red" size="4" face="Verdana">В приведённой ниже таблице [Примечание: какой именно таблице?] </font>можно увидеть ступенчатые нагрузки в часах с первого года тренировок до 14-го.
    <br>5. Каждый уровень будет давать Вам определённые навыки, умения, разряды в спорте. При желании Вы можете остановиться на любом уровне развития не увеличивая нагрузки за год, а повторяя их из года в год.
    <br>6. К уровню 14-го года вы можете достигнуть наивысшего мастерства даже не будучи очень одарённым!
    <br>7. Последующие годы после 14-го года не требуют большего увеличения общих объёмов.
    <br>Нагрузки стабилизируются и даже снижаются, а результаты международного уровня могут стабильно держаться на протяжении 5-10 лет.
    <br>

    <center class="fs-5"><b>Теперь, после ознакомления с вводной частью мы можем начать:</b></center><br>


    <h3><span class="badge bg-secondary">1.</span></h3> <font color="red" size="4" face="Verdana">Скачайте или начертите себе
      [Примечание: здесь лучше перефразировать на "ЗАРЕГИСТРИРУЙТЕСЬ НА САЙТЕ И ОТКРОЙТЕ ТАБЛИЦУ..." например, т.к. мы предполагаем, что спортсмен пользуется нашим приложением]</font> табл.N1 и произвольно запланируйте что Вы будете делать по дням месяца.(См. пример заполнения табл.1)
      <h3><span class="badge bg-secondary">2.</span></h3> После каждой тренировки зафиксируйте чистое время длительности тренировки (в часах или минутах) и с каким в среднем пульсом вы работали.
      Эти данные занесите в табл.2 в электронном или письменном виде.(См. Пример заполнения табл.2).
      <h3><span class="badge bg-secondary">3.</span></h3> Так продолжайте весь месяц тренироваться по своему плану и записывать в табл.2 данные в часах .

      <h3><span class="badge bg-secondary">4.</span></h3> В конце месяца у Вас будет результат Вашей работы. Ваш план может быть перевыполнен, может и недовыполнен. Это не важно. Главное вы увидите в результате месяца что далось легко, а что невозможно выполнить пока.
      <br><br>
      ЭТО И БУДЕТ ОТПРАВНАЯ ТОЧКА НАЧАЛА ВАШИХ ТРЕНИРОВОК.
      <br><br>

      <h3><span class="badge bg-secondary">5.</span></h3> Далее, учитывая ваши возможности и опыт первого месяца можно планировать нагрузки на 2-й месяц, но уже по табл.N3 и с корректировкой нагрузки ближе к своим возможностям. Вы можете добавить в плане там, где было легко и убавить кол-во планируемых часов если не смогли сделать в первый месяц.
      (См. Пример заполнения табл.3)
      <!--
      <h3><span class="badge bg-secondary">-----------Старая версия-----------</span></h3>
      <h3><span class="badge bg-secondary">Первый шаг:</span></h3>
      Для начала Вы должны выбрать расписание своих тренировок. Иными словами, сколько раз в неделю Вы хотите заниматься.
      <br>

      <h3><span class="badge bg-secondary">Второй шаг:</span></h3>
      Определить перечень видов упражнений, которые Вам доступны. Например: бег, плавание, лыжи.
      Корректируете данный параметр во вкладке <a href="/table/add_new/">Добавить результат</a> внизу страницы.

      <br>
      - <b>Третий шаг:</b> определитесь с пульсовыми зонами, в которых Вы хотите заниматься и также скорректируйте их
      во вкладке <a href="/table/add_new/">Добавить результат</a> внизу страницы.
      Здесь нужно сказать пару слов. Максимальное занчение пульса для Вас рассчитывается по формуле 220 - возраст.
      То есть, если Вам 30 лет, то максимальный пульс (ЧСС) для Вас равен 220-30=190 ударов в минуту.
      Если в какой-то день Вы тренируетесь в этой пульсовой зоне, то после этого следует сделать два "разгрузочных" дня,
      в которые Ваш пульс не должен превышать 60-70% от максимального.<br>
      - <b>Четвертый шаг:</b> во время тренировки записывайте сколько времени и в какой пульсовой зоне Вы тренирутесь и заносите данные
      в таблицу <a href="/table/table1/">Мои результаты</a>. Это можно сделать как непосредственно в таблице,
      так и во вкладке <a href="/table/add_new/">Добавить результат</a>
    -->
  </p>
  <!--
  ПОСЛЕ ОЗНАКОМЛЕНИЯ С ПУНКТАМИ ВВОДНОЙ ЧАСТИ МЫ МОЖЕМ НАЧАТЬ:

  ВОПРОСЫ:
  1.С чего начать новичку?

  а).Скачайте или начертите себе табл.N1 и произвольно запланируйте что Вы будете делать по дням месяца.(См. пример заполнения табл.1)
  б).После каждой тренировки зафиксируйте чистое время длительности тренировки(в часах или мин.) и с каким в среднем пульсом вы работали.
  Эти данные занесите в табл.2 в электронном или письменном виде.(См. Пример заполнения табл.2).
  в).Так продолжайте весь месяц тренироваться по своему плану и записывать в табл.2 данные в часах .

  в).В конце месяца у Вас будет результат вашей работы.Ваш план может быть перевыполнен,может и недовыполнен.Это не важно.Главное вы увидите в результате месяца что далось легко,что невозможно выполнить пока.

  ЭТО И БУДЕТ ОТПРАВНАЯ ТОЧКА  НАЧАЛА ВАШИХ ТРЕНИРОВОК.


  г).Далее,учитывая ваши возможности и опыт первого месяца можно планировать нагрузки на 2-й месяц,но уже по табл.N3 и с корректировкой нагрузки ближе к своим возможностям.Вы можете добавить в плане там ,где было легко и убавить кол-во планируемых часов если не смогли сделать в первый месяц.
  (См. Пример заполнения табл.3)
-->

</div>

<!-- /content -->
{% endblock %}
